<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FBK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E751D1D1D7EF35E0065FC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E751D311D7EF35F0065FC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E751D3C1D7EF35F0065FC8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
