<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Psychological.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E63C3311DE7256D00A2EA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E63C34B1DE7256E00A2EA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E63C3561DE7256E00A2EA8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
